.box{
    padding-bottom:94px;  
}
.box__title{
    margin-bottom: 50px;
    color: #212121;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 1.08px;
}
 
.box-list__item{
   width:370px;
   height:294px;
   position: relative;

}
.box-list__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.box-list__item::after{
    content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background-color: #2f303a80;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white-text);
display: flex;
justify-content: center;
align-items: center;
}
.box-list__item:nth-child(1)::after{
    content: "Десктопні додатки";
}
.box-list__item:nth-child(2)::after{
    content: "Мобільні додатки";
}
.box-list__item:nth-child(3)::after{
    content: "Дизайнерські рішення";
}
