.feature{
    padding: 94px 0;
}
.feature-list{
   &__title {
      color: getColor("gray-text");
      @include text(14px, 700, $tt:uppercase, $ls:0.42px);
      word-wrap: break-word;
      margin-bottom: 10px;
  }
 &__item::before{
   content: "";
      display: inline-block; 
      width: 270px; 
      height: 120px; 
      border-radius: 4px;
      background-color:getColor("team-bg");
    
      margin-bottom: 30px; 

  
}
&__text {
   @include text(14px, 400, 1.71, 0.42px);
   color: getColor("main-text");
   word-wrap: break-word;
}


}

.feature-list__item::before{
     content: "";
        display: inline-block; 
        width: 270px; 
        height: 120px; 
        border-radius: 4px;
        background-color:getColor("team-bg");
        background-repeat:   no-repeat ; 
        background-position: center;
        margin-bottom: 30px; 

    
}
.feature-list__item{
   &:nth-child(1)::before{
      background-image: url(../images/antenna1.png);
       
   }
   &:nth-child(2)::before{
      background-image: url(../images/clock1.png);
       
   }
   &:nth-child(3)::before{
      background-image: url(../images/diagram1.png);
       
   }
   &:nth-child(4)::before{
      background-image: url(../images/astronaut1.png);
       
   }

}