.header {
    display: flex;
    padding: 24px 0;
    &__spacer {
      display: flex;
      gap: 93px;
    }
    & .container {
      @extend %flex-center;
      gap: 312px;
    }
  }



.feature-list {
    display: flex;
    gap: 30px;

}

.box-list {
    display: flex;
    justify-content: space-around;
}

.team-list {
    display: flex;
    justify-content: space-around;
    text-align: center;

}


.contact-list {
   @extend %flex-center;
    gap: 50px;
}

.contact-list__item {
    @extend %flex-center;
    animation-name: rotateInDownRight;
    animation-duration: 1s;
}
.contact-list__img {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contact-list__link{
    color:  getColor("main-text");
}

.contact-list__link:hover {
    color: getColor("blue-text");
}

.contact-list__link:hover .contact-list__img {
    fill:getColor("blue-text");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-list__item:hover {
    fill: getColor("white-text");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
    @include text(26px, 700, normal, 0.78px);
    word-wrap: break-word;
}

.header-spacer__logo {
    color: getColor("blue-text");
}


.header-spacer__logo--studio {
    color: getColor("gray-text");
}

.header-logo-studio:hover {
    background-color: getColor("blue-text");
    fill: getColor("blue-text");
}

.navigation {
    color: getColor("gray-text");
    @include text(14px, 500, normal, 0.28px);
    word-wrap: break-word;
}

.navigation-list {
    @extend %flex-center;
    gap: 50px;
    &__item--current {
        color: getColor("blue-text");
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 5px;
            width: 100%;
            background-color: getColor("blue-text");
            border-radius: 2px;
            left: 0px;
            bottom: -33px;
        }
    }
    &__item--other {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -33px;
            display: block;
            background-color: getColor("blue-text");
            width: 0;
            height: 5px;
            border-radius: 2px;
            left: 0;
            transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }
        &:hover::after {
            width: 100%;
        }
    }

}



.navigation-link {
    @include text(14px, 500,  $ls:0.28px);
    word-wrap: break-word;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color:getColor("blue-text");
    }

}







.navigation-list__item--other:hover::after {
    width: 100%;
}


.contact-block {
    @include text(14px, 500, $ls:0.28px);
    word-wrap: break-word;
}