.hero{
    padding: 200px 0;
    background-image:  url(../images/img.jpg);
    &__title {
        color: getColor("white-text");
        @include text(44px, 900, 1.36, 2.64px, $tt:uppercase, $ta:center);
        word-wrap: break-word;
        margin: 0 0 30px;
        width: 696px;
        margin: 0 auto 30px;
    }
    &__btn {
        color: getColor("white-text");
        @include text(16px, 700, 1.87, 0.96px, $ta:center);
        word-wrap: break-word;
        background-color: getColor("blue-text");
        border-radius: 4px;
        width: 216px;
    height: 50px;
    margin: 0 auto;
    display:block;
    }

   
}

    

