.social-list{
    display: flex;
    animation-name: rotateInUpLeft;
    animation-duration: 5s;
    justify-content: center;
    gap: 10px;
    &__item{
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 50%;
      overflow: hidden;
  }
    &__link{
      @extend %flex-center;
      width: 45px;
      height: 45px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        background-color: getColor("blue-text");
       
    }
    &--team{
      background-color: transparent;
      
    }
    &--footer{
      background-color: #ffffff10;
    }
    }

    &__img{
        width: 20px;
        height: 20px; 
        &--team{
        fill: getColor("black-text");
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &--footer{
          fill: getColor("white-text");
        }

        
      }
      &__link:hover &__img--team,&__link:focus &__img--team{
        fill: getColor("white-text");

      }
}