.team{
    padding:94px 0 ;
    background-color: getColor("team-bg");
    &__title {
        color:getColor("gray-text");
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        word-wrap: break-word;
        margin-bottom: 50px;
        text-align: center;
    }
}
.team-list{
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:getColor("white-text");
       border-radius: 5px;
       padding-bottom: 30px;

    }
    &__name {
        color: getColor("gray-text");
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.48px;
        word-wrap: break-word;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    &__work {
        font-size: 16px;
     font-weight: 400;
        letter-spacing: 0.48px;
        word-wrap: break-word;
        color: getColor("main-text");
        margin-bottom: 20px;
    }

}

.conect-list{
    display: flex;
    gap: 10px;
    
    
}
.footer-join__title{
    color: getColor("white-text");
    font-weight: 700;
font-size: 14px;
    letter-spacing: 0.03px;
    word-wrap:break-word;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.team-contact{
    padding-right:175px;
    padding-top: 15px;
}



