.team{
    padding: 60px 0;
    @media (min-width:1200px) {
       padding:94px 0 ;
    }
    background-color: getColor("team-bg");
    &__title {
        color:getColor("gray-text");
        @include text(28px, 700, $ls:1.08px, $ta:center);
        word-wrap: break-word;
        margin-bottom: 30px;
        @media (min-width:1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
    
    
}

}
.team-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        flex: 1 1 100%;
        background-color:getColor("white-text");
       border-radius: 5px;
       padding-bottom: 24px;
       @media (min-width:768px) {
        flex-basis: calc((100% - 30px) / 2);
       }
    @media (min-width:1200px) {
           flex-basis: calc((100% - 90px) / 4);
             padding-bottom: 30px;
            }


    }
    &__thumb{
        width: 100%;
        height: 460px;
        margin-bottom: 30px;
        @media (min-width:768px) {
            height: 374px;
            
        }
        @media (min-width:1200px) {
            height: 260px;
        }
    
    }
    &__name {
        color: getColor("gray-text");
        @include text(16px, 500, $ls:0.48px, $ta:center);
        word-wrap: break-word;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    &__work {
        @include text(16px, 400,$ls:0.48px, $ta:center);
        word-wrap: break-word;
        color: getColor("main-text");
        margin-bottom: 16px; 
    }



}

.conect-list{
    display: flex;
    gap: 10px;
    
    
}
.footer-join__title{
    color: getColor("white-text");
    @include text(14px, 700,$ls:0.03em, $tt:uppercase);
    word-wrap:break-word;
    margin-bottom: 20px;
}


.team-contact{
    padding-right:175px;
    padding-top: 15px;
}



